<h1>Prime Number Generator</h1>
<form action="/display">
<label for="number">Type in your number here:</label>
  <input id="number" name="number" type="text"/>
<button class="btn btn-primary" type="submit">Click Here</button>
</form>
